.w3-dark-grey, .w3-hover-dark-grey:hover, .w3-dark-gray, .w3-hover-dark-gray:hover {
    color: #e1f0fd !important;
    background-color: #065798 !important;
}

.w3-grey, .w3-hover-grey:hover, .w3-gray, .w3-hover-gray:hover {
    color: #cac4c4!important;
    background-color: #615e5e!important;
}
.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    color: #054577!important;
    background-color: #f5faff!important;
}
.w3-sidebar {
    height: 100%;
    width: 200px;
    background-color: #e5ecf3;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
}
.claro {
    color: #ffffff;
    background-color: #2196f3;
    padding: 4px;
}
.w3-grey, .w3-hover-grey:hover, .w3-gray, .w3-hover-gray:hover {
    color: #071b2b!important;
    background-color: #97bad6!important;
}

.cabecalhoBilhete {
    margin-top: -10px;
    padding: 30px;
    background-color: #545454;
}

.top_menu {
    background-color: #0b5590;
    /* color: #000; */
    padding: 5px;
}
/*
.botaoAposta {
    height: 40px;
    background-color: #c3e1f9;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(170,170,170,1);
    -moz-box-shadow: 1px 1px 1px 0px rgba(170,170,170,1);
    box-shadow: 1px 1px 1px 0px rgba(170,170,170,1);
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 0px solid #000000;
}
.selecton {
    background: rgb(6, 87, 152);
    background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 45%, rgba(246,41,12,1) 67%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(45%, rgba(241,111,92,1)), color-stop(67%, rgba(246,41,12,1)), color-stop(71%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
    background: -o-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 45%, rgba(246,41,12,1) 67%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: -ms-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 45%, rgba(246,41,12,1) 67%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    color: #fff;
}

.botaoMais {
    background-color: #2196f3;
    color: black;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(170,170,170,1);
    -moz-box-shadow: 1px 1px 1px 0px rgba(170,170,170,1);
    box-shadow: 1px 1px 1px 0px rgba(170,170,170,1);
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 0px solid #000000;
    height: 40px;
    width: 50px;
    font-size: 12px;
}
*/
.inputFinalizar {
    background-color: #003158;
    margin-bottom: 5px;
    text-align: center;
    color: #fff;
}
.inputBotton {
    font-size: 18px;
    width: 100%;
    padding: 2px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px solid #000000;
    font-weight: bold;
}
#viewCaixa{
    background-color: #eef7ff;
    margin-top: 130px;
    color: #000;
    padding: 15px;
    padding-top: 10px;
}
.cabecalhoBilhete {
    margin-top: -10px;
    padding: 30px;
    background-color: #2196f3;
    color: #eee;
}