.w3-dark-grey, .w3-hover-dark-grey:hover, .w3-dark-gray, .w3-hover-dark-gray:hover {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(197, 107, 4) !important;
}

.w3-grey, .w3-hover-grey:hover, .w3-gray, .w3-hover-gray:hover {
    color: #cac4c4!important;
    background-color: #615e5e!important;
}
.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    color: rgb(142, 77, 2)!important;
    background-color: rgba(241, 172, 92, 0.11)!important;
}
.w3-sidebar {
    height: 100%;
    width: 200px;
    background-color: rgb(255, 242, 227);
    position: fixed!important;
    z-index: 1;
    overflow: auto;
}
.claro {
    color: #ffffff;
    background-color: rgb(241, 172, 92);
    padding: 4px;
}
.w3-grey, .w3-hover-grey:hover, .w3-gray, .w3-hover-gray:hover {
    color: #071b2b!important;
    background-color: rgb(239, 212, 181)!important;
}
/*
.botaoAposta {
    height: 40px;
    background-color: rgba(241, 172, 92, 0.33);
    -webkit-box-shadow: 1px 1px 1px 0px rgba(170,170,170,1);
    -moz-box-shadow: 1px 1px 1px 0px rgba(170,170,170,1);
    box-shadow: 1px 1px 1px 0px rgba(170,170,170,1);
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 0px solid #000000;
}
.selecton {
    background: rgb(255, 137, 0);
    background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 45%, rgba(246,41,12,1) 67%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(45%, rgba(241,111,92,1)), color-stop(67%, rgba(246,41,12,1)), color-stop(71%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
    background: -o-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 45%, rgba(246,41,12,1) 67%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: -ms-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 45%, rgba(246,41,12,1) 67%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    color: #fff;
}
*/
.cabecalhoBilhete {
    margin-top: -10px;
    padding: 30px;
    background-color: #545454;
}
.selecton {
    background: rgb(255, 137, 0);
    background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 45%, rgba(246,41,12,1) 67%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(45%, rgba(241,111,92,1)), color-stop(67%, rgba(246,41,12,1)), color-stop(71%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
    background: -o-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 45%, rgba(246,41,12,1) 67%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: -ms-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 45%, rgba(246,41,12,1) 67%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    color: #fff;
}
.top_menu {
    background-color: rgb(146, 82, 7);
    /* color: #000; */
    padding: 5px;
}
.inputFinalizar {
    background-color: rgb(103, 58, 6);
    margin-bottom: 5px;
    text-align: center;
    color: #fff;
}
.inputBotton {
    font-size: 18px;
    width: 100%;
    padding: 2px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px solid #000000;
    font-weight: bold;
}
#viewCaixa{
    background-color: rgba(241, 172, 92, 0.19);
    margin-top: 130px;
    color: #000;
    padding: 15px;
    padding-top: 10px;
}
.cabecalhoBilhete {
    margin-top: -10px;
    padding: 30px;
    background-color: rgb(241, 172, 92);
    color: #eee;
}